{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block main %}
    <p class="p-1"></p>
    {% for user in users %}
        {% if request.user != user %}
            <div class="col-12">
                <div class="card-body">
                    <div class="section-title">

                        <h1 class="font-weight-bold" style="margin-left:100px"><a
                                href="?user={{ user }}">{{ user.username }}</a><br>
                            <h1><a href=""></a></h1></h1>

                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock main %}