{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block main %}
<div class="container" style="margin-top:200px">
    {% for user in users %}
        {% if user != request.user %}
        <div class="card col-12 d-flex justify-content-start mb-3" style="border-radius: 10px">
            <h1 class="font-weight-bold" style="margin-left:50px"><a href="?user={{ user }}">{{ user.username }}</a></h1>
        </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock main %}