{% extends 'base.html' %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block main %}
    <div class="container-fluid d-flex justify-content-end">
        <p style="font-size:50px; margin-top:40px; margin-right:400px" class="text-center text-bold-medium">GROUPS</p>
        <p style="font-size:50px; margin-top:40px; margin-right:100px" class="text-center text-bold-medium"><a
                href="{% url 'create_group' %}">CREATE GROUP</a></p>
    </div>
    {% for group in groups %}
        <div class="col-12">
            <div class="card-body">
                <div class="section-title">
                    <div><a href="{% url 'group_message' group.pk %}"><img
                            src="{% if group.photo %}{{ group.photo.url }}{% endif %}"
                            style="width:120px; height:120px; border-radius:120px"
                            alt=""></a></div>
                    <div class="d-flex justify-content-between col-11">
                        <div>
                            <h1><a href="{% url 'group_message' group.pk %}">{{ group.group_name }}</a></h1>
                            <h6>Members: {{ group.get_len }}</h6>
                        </div>
                        <div class="d-flex justify-content-around col-6 mt-4">
                            <div>
                                <a href="{% url 'add_member' group.pk %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                     class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                                </svg>
                                    </a>
                            </div>
                            <div>
                                <a href="{% url 'exit_group' group.pk %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                     class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                                    <path fill-rule="evenodd"
                                          d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
                                </svg>
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock main %}